<template>
  <h1>.env matcher</h1>
  <p>Compares and fill .env</p>
  <div class="-grid-3 -grid--gap">
    <div>
      <h2>Référence (<code>.env.example</code>)</h2>
      <textarea v-model="reference" class="-large -text--monospace" />
    </div>
    <div>
      <h2>Target (<code>.env</code>)</h2>
      <textarea v-model="custom" class="-large -text--monospace" />
    </div>
    <div>
      <h2>Result (<code>.env</code>)</h2>
      <textarea :value="references" class="-large -text--monospace" readonly />
    </div>
  </div>
</template>

<script>
// import reference from '/path_to/.env.dev?raw'
// import custom from '/other_path_to/.env?raw'

export default {
  name: 'EnvMatcherView',
  data () {
    return {
      reference: '',
      custom: '',
    }
  },
  computed: {
    result () {
      return ''
    },
    referenceList () {
      return this.reference
        .split('\n')
        .filter(l => !l.match(/^#/) && l.trim() !== '')
        .map(l => {
          let pair = l.split('=')

          // Handle "=" in values
          if (pair.length > 2) {
            const k = pair.shift()
            pair = [k, pair.join('=')]
          }
          return pair.map(c => c.trim())
        })
    },
    references () {
      let result = this.custom
      this.referenceList.forEach((l) => {
        result = result.replace(new RegExp(`^${l[0]}=\\s?(""\\s)?(#.+)?$`, 'gm'), `${l[0]}=${l[1]}`)
      })

      return result
    },
  },
}</script>
