<template>
  <form action="#" @submit.prevent="search">
    <input v-model="ip" type="text" placeholder="0.0.0.0">
    <rui-button type="submit" caption="Search" />

    <pre v-if="results">{{ results }}</pre>
  </form>
</template>

<script>
import { getGeoIP } from '../lib/geoip'

export default {
  name: 'GeoIPView',
  data () {
    return {
      ip: '',
      results: null,
    }
  },
  methods: {
    async search () {
      const results = await getGeoIP(this.ip)
      this.results = await results.json()
    },
  },
}</script>
