<template>
  <form action="#" @submit.prevent="parse">
    <details ref="form" open>
      <summary class="rui-button -mbd" @click.prevent="toggleForm">
        {{ expanded ? 'Hide form' : 'Show form' }}
      </summary>

      <label for="har">HAR</label>
      <textarea id="har" v-model="input" class="-mbl -text--monospace" />

      <div id="drop_zone"
           class="-text--center"
           style="border: 1px dashed var(--border-color); background: var(--background-color-alt);padding: var(--spacer-xlarge)"
           :class="dragZoneCSS"
           @drop.prevent.stop="handleDrop($event)"
           @dragover.prevent.stop="draggingIn = true"
           @dragleave.prevent.stop="draggingIn = false">
        or drop a JSON file here.
      </div>
      <div v-if="dropError" class="-text--error">
        Too many files dropped.
      </div>

      <rui-actions class="-mtd">
        <span v-if="parsingError" class="-text--error">Invalid JSON submitted.</span>
        <rui-button type="submit" caption="Parse" variant="recording" :disabled="input === ''" />
      </rui-actions>
    </details>
  </form>

  <hr>

  <section v-if="har">
    <table>
      <tbody>
        <tr>
          <th>Version</th>
          <td>{{ har.log.version }}</td>
        </tr>
        <tr>
          <th>Creator</th>
          <td>{{ har.log.creator.name }} - v{{ har.log.creator.version }}</td>
        </tr>
        <tr>
          <th>Browser</th>
          <td>
            <template v-if="har.log.browser">
              {{ har.log.browser.name }} - v{{ har.log.browser.version }}
            </template>
            <template v-else><em>Unknown</em></template>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <h2>Pages</h2>

      <table>
        <thead>
          <tr>
            <th class="-text--right">id</th>
            <th colspan="2" class="-text--center">Timings</th>
            <th>Date</th>
            <th>Title</th>
          </tr>
          <tr>
            <td />
            <td class="-text--right"><code>onContentLoad</code></td>
            <td class="-text--right"><code>onLoad</code></td>
            <td />
            <td />
          </tr>
        </thead>
        <tbody>
          <tr v-for="page in har.log.pages" :key="page.id">
            <td class="-text--monospace -text--right">{{ page.id }}</td>
            <td class="-text--right">{{ page.pageTimings.onContentLoad }}ms</td>
            <td class="-text--right">{{ page.pageTimings.onLoad }}ms</td>
            <td>{{ page.startedDateTime }}</td>
            <td>{{ page.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Requests</h2>

    <div class="_filters">
      <div class="_filters__section">
        <label><input v-model="hideOptionsRequests" type="checkbox"> Hide OPTION requests</label>
      </div>
      <div class="_filters__section">
        <div class="_filters__section__title">URL contains</div>
        <rui-search-form v-model="urlFilter" />
      </div>
      <div class="_filters__section">
        <label><input v-model="hideEmptyResponses" type="checkbox"> Hide empty responses</label>
      </div>
    </div>
    <div class="_filters">
      <div class="_filters__section">
        <div class="_filters__section__title">Mime types</div>
        <div>
          <label v-for="(status, mime) in mimeFiltersStates" :key="mime" class="-inline-flex -mrm">
            <input v-model="mimeFiltersStates[mime]" type="checkbox">
            <code>{{ mime }} ({{ mimeEntriesCounts[mime] }})</code>
          </label>
        </div>
      </div>
    </div>

    <har-request v-for="(request, index) in filteredEntries" :key="index" :entry="request" />
  </section>
</template>

<script>
import HarRequest from '../components/HarRequest.vue'

const DISABLED_MIMES = [
  'application/javascript',
  'application/octet-stream',
  'font/woff2',
  'image/png',
  'image/svg+xml',
  'text/css',
  'text/html',
  'text/javascript',
]

export default {
  name: 'HARViewerView',
  components: { HarRequest },
  data () {
    return {
      input: '',
      expanded: true,
      har: null,
      draggingIn: false,
      dropError: false,
      parsingError: false,
      hideOptionsRequests: true,
      urlFilter: '',
      mimeFiltersStates: {},
      mimeEntriesCounts: {},
      hideEmptyResponses: true,
    }
  },
  computed: {
    dragZoneCSS () { return this.draggingIn ? '-checked-background' : '' },
    filteredEntries () {
      let list = this.har.log.entries
      const urlFilter = this.urlFilter.toLowerCase()
      const mimesToDisplay = Object.keys(this.mimeFiltersStates).filter(k => this.mimeFiltersStates[k])

      list = list.filter(e => mimesToDisplay.includes(e.response.content.mimeType))
      if (this.hideOptionsRequests) list = list.filter(e => e.request.method !== 'OPTIONS')
      if (this.urlFilter.length > 0) list = list.filter(e => e.request.url.toLowerCase().includes(urlFilter))
      if (this.hideEmptyResponses) list = list.filter(e => e.response.content.size > 0)

      return list
    },
  },
  methods: {
    parse () {
      try {
        this.parsingError = false
        this.har = JSON.parse(this.input)
        this.toggleForm()
      } catch {
        this.parsingError = true
      }
    },
    handleDrop (e) {
      this.dropError = false

      let file

      if (e.dataTransfer.files && e.dataTransfer.files.length === 1) {
        file = e.dataTransfer.files[0]
      } else {
        this.dropError = true
        return
      }
      const reader = new FileReader()
      reader.onload = (event) => {
        this.input = event.target.result
        this.parse()
        this.setMimeFilters()
      }
      reader.readAsText(file)
    },
    toggleForm () {
      this.$refs.form.open = !this.$refs.form.open
      this.expanded = this.$refs.form.open
    },
    setMimeFilters () {
      const mimeTypes = {}
      const mimeFiltersStates = {}

      // Count mime types occurrences
      this.har.log.entries.forEach((e) => {
        mimeTypes[e.response.content.mimeType] = mimeTypes[e.response.content.mimeType] ? mimeTypes[e.response.content.mimeType] + 1 : 1
      })

      // Initialize filters
      Object.keys(mimeTypes).sort().forEach(e => { mimeFiltersStates[e] = !DISABLED_MIMES.includes(e) })

      this.mimeFiltersStates = mimeFiltersStates
      this.mimeEntriesCounts = mimeTypes
    },
  },
}
</script>
