<template>
  <main>
    <h1>Tools</h1>

    <template v-for="(menu, caption) in menuLinks" :key="caption">
      <h2>{{ caption }}</h2>
      <rui-list-item v-for="(link, linkCaption) in menu"
                     :key="linkCaption"
                     :to="link.url"
                     :caption="linkCaption"
                     :sub-caption="link.description"
                     :icon="link.icon" />
    </template>
  </main>
</template>

<script>
import { menuLinks } from '../menuLinks'

export default {
  name: 'HomeView',
  data () {
    return {
      menuLinks,
    }
  },
}
</script>
