<template>
  <h1>Rails logs analyzer</h1>

  <rui-field label="RegExp" :error="regExpError && 'Regular expression is invalid'">
    <input v-model="inputs.regExp" type="text" class="-text--monospace -text--small">
    <template #help>
      Needs to have these matches: <code>date</code>, <code>method</code>, <code>path</code> and <code>status</code>
    </template>
  </rui-field>

  <rui-field label="Logs" help="Paste Rails logs from Heroku to extract IPs and their occurrences">
    <textarea v-model="inputs.logs" class="-text--monospace -text--small" />
  </rui-field>

  <h2>Results</h2>

  <div class="_filters">
    <div class="_filters__section">
      <label class="_filters__section__title" for="filter_status">Filter results</label>
      <input id="filter_status" v-model="inputs.filter" type="checkbox" :value="true">
    </div>
    <div class="_filters__section">
      <label class="_filters__section__title" for="min_occurrences">Min. occurences</label>
      <input id="min_occurrences"
             v-model="inputs.minOccurrences"
             type="number"
             style="width: 50px;"
             min="1">
    </div>
  </div>

  <rui-empty v-if="interesting.length === 0">Nothing to display</rui-empty>
  <div v-else>
    <table>
      <thead>
        <tr>
          <th>IP</th>
          <th style="text-align: right;">Entries</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="k in interesting" :key="k">
          <tr>
            <td><code>{{ k }}</code></td>
            <td class="-text--right">{{ ips[k].amount }}</td>
          </tr>
          <tr>
            <td colspan="2">
              <h3>Logs</h3>
              <pre><template v-for="(v, i) in ips[k].lines" :key="i">{{ format(v.bits) }}</template></pre>

              <details class="-mtd" style="max-width: 100%; width: 100%;">
                <summary class="rui-button rui-button--block">Raw</summary>
                <pre style="-over" class="-text--small">{{ ips[k].lines.map(l=>l.raw).join('\n') }}</pre>
              </details>

              <details>
                <summary class="rui-button rui-button--block">GeoIP</summary>

                <div v-if="!fetched[k]">
                  <button @click="geoip(k)">Fetch</button> data first
                </div>
                <table v-if="fetched[k]" class="_container _container--small">
                  <tr><td>Country</td><td>{{ fetched[k].country }}</td></tr>
                  <tr><td>Region</td><td>{{ fetched[k].regionName }}</td></tr>
                  <tr><td>City</td><td>{{ fetched[k].city }}</td></tr>
                  <tr><td>Zip</td><td>{{ fetched[k].zip }}</td></tr>
                  <tr><td>ISP</td><td>{{ fetched[k].isp }}</td></tr>
                  <tr><td>Org</td><td>{{ fetched[k].org }}</td></tr>
                  <tr><td>AS</td><td>{{ fetched[k].as }}</td></tr>
                </table>
              </details>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import { getGeoIP } from '../lib/geoip'

const regExp = /^\s*(?<date>\w{3} \d{2} \d{2}:\d{2}:\d{2}) (?<project>[\w-]+) (?<errorSource>[\w/]+):? at=(?<at>\w+) method=(?<method>\w+) path="(?<path>[^"]+)" host=(?<host>[^\s]+) request_id=(?<requestId>[^\s]+) fwd="(?<fwd>[^"]+)" dyno=(?<dyno>[^\s]+) connect=(?<connect>[^\s]+) service=(?<service>[^\s]+) status=(?<status>[^\s]+) bytes=(?<bytes>[^\s]+) protocol=(?<protocol>[^\s]+)\s*$/

export default {
  name: 'RailsLogsView',
  data () {
    return {
      inputs: {
        regExp,
        logs: '',
        filter: true,
        minOccurrences: 4,
      },
      ips: {},
      fetched: {},
      regExpError: null,
    }
  },
  computed: {
    interesting () {
      let keys = Object.keys(this.ips)
      if (this.inputs.filter) keys = keys.filter((ip) => this.ips[ip].amount >= this.inputs.minOccurrences)

      return keys.sort((a, b) => this.ips[a].amount - this.ips[b].amount)
    },
  },
  methods: {
    async geoip (ip) {
      if (this.fetched[ip]) return

      const result = await getGeoIP(ip)
      this.fetched[ip] = await result.json()
    },
    format (parts) {
      return `${parts.date} - ${parts.method}: ${parts.path} > ${parts.status}\n`
    },
    processLogs () {
      if (this.regExpError) return
      this.ips = {}

      this.inputs.logs.split('\n')
        .forEach((l) => {
          const matches = l.match(this.regExp)

          if (matches === null) return
          const ip = matches.groups.fwd
          if (!this.ips[ip]) this.ips[ip] = { amount: 0, lines: [] }

          this.ips[ip].amount++
          this.ips[ip].lines.push({ raw: l, bits: matches.groups })
        })
    },
    processRegExp () {
      this.regExpError = null

      let regExp
      try {
        regExp = new RegExp(this.inputs.regExp)
      } catch {
        this.regExpError = 'Invalid regExp'
      }

      this.regExp = regExp
    },
  },
  created () {
    this.processRegExp()
  },
  watch: {
    'inputs.logs' () {
      this.processLogs()
    },
    'inputs.regExp' () {
      this.processRegExp()
      if (this.inputs.logs.length > 0) this.processLogs()
    },
  },
}
</script>
