// Mixins, variables, animations, ...
@use '@experiments-labs/rise_ui/styles/core';

// Global reset, and HTML reset
@use '@experiments-labs/rise_ui/styles/reset';

// Helper classes
@use '@experiments-labs/rise_ui/styles/helpers';

// Themes variables
@use '@experiments-labs/rise_ui/styles/themes';

// Classes that does not have a Vue component
@use '@experiments-labs/rise_ui/styles/components';

// Styles for Vue component
@use '@experiments-labs/rise_ui/styles/vue_components';


.app {
  &-logo {
    border-radius: var(--border-radius-small);
  }

  &-move-to-top {
    $size: var(--spacer-xlarge);

    position: fixed;
    bottom: var(--spacer-default);
    left: calc(50vw - (#{$size} / 2));
    display: flex;
    width: $size;
    height: $size;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--component-content-background-alt);
    box-shadow: 0 0 3px -1px var(--border-color);
    cursor: pointer;
    font-size: var(--font-size-large);
    opacity: 0.5;

    &:hover{
      box-shadow: 0 0 8px -2px var(--border-color);
      opacity: 1;
    }
  }
}

