<template>
  <rui-collapsible-list-item>
    <template #caption>
      <span class="-flex -flex--gap">
        <code class="rui-badge rui-badge--small -text--monospace"
              :class="CSSClasses.responseStatus">{{ entry.response.status }}</code>
        <span class="rui-badge rui-badge--small -text--monospace"
              :class="CSSClasses.requestMethod">{{ entry.request.method }}</span>
        <span>{{ entry.request.url }}</span>
      </span>
    </template>

    <section>
      <h3>Request</h3>

      <section>
        <div>
          <strong>Query string:</strong>
          <pre class="-text--small">{{ entry.request.queryString }}</pre>
        </div>
      </section>

      <details>
        <summary class="-clickable rui-button rui-button--block">▼ Headers ▼</summary>
        <har-request-data-pair :pairs="entry.request.headers" />
      </details>

      <details>
        <summary class="-clickable rui-button rui-button--block">▼ Cookies ▼</summary>
        <har-request-data-pair :pairs="entry.request.cookies" />
      </details>
    </section>

    <section>
      <h3>Response</h3>

      <section class="-grid-2 -grid--gap">
        <label for="status">status</label>
        <input id="status" type="text" :value="entry.response.status" readonly>

        <label for="statusText">statusText</label>
        <input id="statusText"
               type="text"
               :value="entry.response.statusText"
               readonly>

        <label for="httpVersion">httpVersion</label>
        <input id="httpVersion"
               type="text"
               :value="entry.response.httpVersion"
               readonly>

        <label for="redirectURL">redirectURL</label>
        <input id="redirectURL"
               type="text"
               :value="entry.response.redirectURL"
               readonly>

        <label for="headersSize">headersSize</label>
        <input id="headersSize"
               type="text"
               :value="entry.response.headersSize"
               readonly>

        <label for="bodySize">bodySize</label>
        <input id="bodySize"
               type="text"
               :value="entry.response.bodySize"
               readonly>
      </section>

      <section>
        <h3>Content</h3>

        <div class="-grid-2 -grid--gap">
          <label for="mimeType">mimeType</label> <input id="mimeType"
                                                        type="text"
                                                        :value="entry.response.content.mimeType"
                                                        readonly>
          <label for="size">size</label> <input id="size" type="text" :value="entry.response.content.size" readonly>
          <label for="text">text</label> <input id="text" type="text" :value="entry.response.content.text" readonly>
        </div>

        <div v-if="isJSON">
          <h4>Prettified JSON</h4>
          <pre class="-text--small">{{ renderJSON() }}</pre>
        </div>
      </section>

      <details>
        <summary class="-clickable rui-button rui-button--block">▼ Headers ▼</summary>
        <har-request-data-pair :pairs="entry.response.headers" />
      </details>

      <details>
        <summary class="-clickable rui-button rui-button--block">▼ Cookies ▼</summary>
        <har-request-data-pair :pairs="entry.response.cookies" />
      </details>
    </section>
  </rui-collapsible-list-item>
</template>

<script>
import HarRequestDataPair from './HarRequestDataPair.vue'

export default {
  name: 'HarRequest',
  components: { HarRequestDataPair },
  props: {
    entry: { required: true, type: Object },
  },
  computed: {
    isJSON () { return this.entry.response.content.mimeType.toLowerCase().includes('json') },
    CSSClasses () {
      return {
        responseStatus: [
          this.entry.response.status < 400 ? 'rui-badge--success' : 'rui-badge--warning',
        ],
        requestMethod: [
          this.entry.request.method === 'OPTIONS' && 'rui-badge--mute',
        ],
      }
    },
  },
  methods: {
    renderJSON () {
      try {
        return JSON.stringify(JSON.parse(this.entry.response.content.text), null, 2)
      } catch (SyntaxError) {
        return this.entry.response.content.text
      }
    },
  },
}
</script>
