<template>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(pair, index) in pairs" :key="index">
        <td><code>{{ pair.name }}</code></td>
        <td><input type="text" :value="pair.value" readonly></td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'HarRequestDataPair',
  props: {
    pairs: { required: true, type: Array },
  },
}
</script>
