<template>
  <div class="_container _container--medium -mbl">
    <rui-navbar>
      <template #left>
        <rui-navbar-menu>
          <router-link class="rui-menu-item" to="/">
            <img :src="logo" alt="logo" class="app-logo">
            <strong>Dev tools</strong>
          </router-link>

          <rui-dropdown v-for="(menu, caption) in menuLinks" :key="caption" :caption="caption">
            <rui-menu-item v-for="(link, linkCaption) in menu"
                           :key="linkCaption"
                           class="rui-menu-item"
                           :to="link.url"
                           :caption="linkCaption" />
          </rui-dropdown>
        </rui-navbar-menu>
      </template>
    </rui-navbar>

    <router-view />

    <div class="_footer">
      <div class="_container _container--medium">
        Dev tools <code>v{{ version }}</code>
        &mdash;
        <a href="https://gitlab.com/experimentslabs/dev-tools" rel="noopener noreferrer">Code and issues</a>
      </div>
    </div>

    <a class="app-move-to-top" title="Scroll to top" @click="scrollToTop">↑</a>
  </div>
</template>

<script>
import { menuLinks } from './menuLinks'
import logo from './assets/logo.png'
import { version } from '../package.json'

export default {
  name: 'App',
  data () {
    return {
      menuLinks,
      logo,
      version,
    }
  },
  methods: {
    scrollToTop () { window.scrollTo(0, 0) },
  },
}
</script>
